body {
	background-color: #e9edef;
	/* Margin bottom by footer height */
    padding-bottom: 105px;
    font-family: 'Raleway', sans-serif;
}
a {
    color: black;
}

a:hover{
    color: grey;
    opacity: .6;
}

.fit {
    max-width: 95%;
    max-height: 95%;
}

.my_header {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.my_banner {
    height: 350px;
    background-image: url("mountains.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#home1 {
    height:auto;
    margin:30px;
    width:auto;
}

.textbox{
    border: 1px solid #E6EBEF;
}
#intro {
    height: auto;
    background: whitesmoke;
    padding: 30px;
}
h2 {
    color: #e9edef;
    letter-spacing: -.02em;
    font-size: 72px;   
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    padding-top: 120px;
}

h1 {
    color: #e9edef;
    letter-spacing: -.02em;
    font-size: 30px;   
    font-weight: 100;
    line-height: 50px;
    text-align: center;
}

.pic_description{
    text-align:center;
    font-family: 'Playfair Display', serif;    
}

.portfolio{
    align-items: center;
}
.portfolio_item{
    margin-top: 30px;
    margin-bottom: 30px;
}

h4{
	color: #000000;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
    text-align:left;
}

.my_portfolio{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

p.normal{
    text-align: center;
}

p.h1{
    color:#fdbc39;
    font-family: 'Lato', sans-serif; 
    text-align: center;
    font-size: 1.8rem;
    font-weight: 100;
}

p.i2{
    font-family: 'Lato', sans-serif; 
    text-align: left;
    font-size: 1.2rem;
    font-weight: 100;
    color:rgba(112,112,112,.5);
}
p.i1{
    font-family: 'Lato', sans-serif; 
    text-align: left;
    font-size: 1.8rem;
    font-weight: 400;
}

.rounded-circle {
    border-radius: 50%!important; 
}

.my_project{
    height: auto;
    background-color: rgb(30, 42, 83);
    background-size: 100%;
}

h5{
	color: black;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

.sect1{
    height: auto;
    padding-top: 20px;
    vertical-align: center;
    padding-bottom: 20px;
}


.sect2{
    height: auto;
    background-color: white;
    padding-top: 20px;
    vertical-align: center;
    padding-bottom: 20px;
}

h6{
    color: black;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    font-family: 'Playfair Display', serif;
    padding-bottom: 10px;
}
.sect3{
    height: auto;
    padding-top: 20px;
    vertical-align: center;
    padding-bottom: 20px;
}

.sect4{
    height: auto;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: center;
}

.center{
    align-items: center;
}

.foodcontainer1{
    height:auto;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: center;
}

/* h1 {
    color: 4E4446;
    margin-left: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    line-height: 100px;
    font-weight: 600;
}

h2 {
    color: grey;
    margin-left: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 100;
    font-style: italic;
    line-height: 50px;
    margin-bottom: 50px;
}

h3 {
    color: grey;
    margin-left: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
}

h4{
	color: white;
    margin-left: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
}

ul{
	color: white;
    margin-left: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    list-style: none;
}

li{
	color: grey;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
ul:hover{
    font-weight: 600;
    font-size: 35px;
}


.licon:hover{
	background-color: grey;
	color: white;
	height: 50px;
	width: 50px;
	border-radius: 80%;
}

.links{
	line-height: 200px;
    color: white;
    margin-left: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 100;
}

.res1{
    color:white;
}

.res1:hover{
    background-color: grey;
    color: white;
}

.res{
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    padding-right: 100px;
}


.res:hover{
    background-color: grey;
    color: white;
}

.links:hover{
	background-color: grey;
	color: white;
	border: 2px solid grey;
	border-radius: 50%;
}


.propic {
	align: middle;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.licon {
	align: middle;
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

.liconcontainer{
	display: flex;
}

.flex {
	flex-grow: 1;
}

.propiccontainer{
	padding-right: 100px;
}

#footer {
	height: 80px;
} */
